* {
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  font-family: Inter, sans-serif;
  background-color: #fafaf8;

}

main {

  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../horrorwp.jpg');
  background-size: cover;
  background-position: center;
  height: 100%;
  background-attachment: fixed;
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11px;
  height: 80px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
  background-color: black;

}

header>img {
  width: 50px;
}

header>h1 {
  font-weight: 400;
  color: #b026ff;

}

.story-container {
  padding-top: 10px;
  display: flex;
  gap: 10px;
  opacity: 0.6;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 700px;

}

.story-title {
  display: flex;
  justify-content: left;
  width: 700px;

}

.story {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;

  font-size: large;
  line-height: 1.4;
  background-color: aliceblue;
  padding: 0 1em;
  margin-bottom: 50px;
  border-radius: 3px;
  border: 3px
}

.story p {
  white-space: pre-wrap;
}