:root {
  /* Colors */
  --color-bg: #121212;
  --color-bg-light: #1A1A1A;
  --color-accent: #ff4c7b;
  --color-text: #1A1A1A;
  --color-input-bg: aliceblue;
  --color-placeholder: 1A1A1A;
  --color-bg-lightest: #333;

  /* Font */
  --font-base: 'Poppins';
  --font-heading: 'Plaster', sans-serif;

  /* Spacing */
  --space-xs: 0.3rem;
  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-lg: 2rem;

  /* Border Radius */
  --radius-sm: 3px;
  --radius-md: 4px;
  --radius-lg: 8px;
}


* {
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  font-family: Inter, sans-serif;
  background-color: #fafaf8;

}

main {

  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../horrorwp.jpg');
  background-size: cover;
  background-position: center;
  height: 100%;
  background-attachment: fixed;
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11px;
  height: 80px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
  background-color: black;

}

header>img {
  width: 50px;
}

header>h1 {
  font-weight: 400;
  color: #b026ff;

}

.story-container {
  padding-top: 10px;
  display: flex;
  gap: 10px;
  opacity: 0.6;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 700px;

}

.story-title {
  display: flex;
  justify-content: left;
  width: 700px;

}

.story {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;

  font-size: large;
  line-height: 1.4;
  background-color: aliceblue;
  padding: 0 1em;
  margin-bottom: 50px;
  border-radius: 3px;
  border: 3px
}

.story p {
  white-space: pre-wrap;
}

.search-input {
  width: 300px;
  height: 30px;
  border-color: black;
  margin-left: var(--space-md);
  padding: var(--space-sm);
  border: none;
  border-radius: var(--radius-md);
  background-color: var(--color-input-bg);
  color: #1A1A1A;

}

.form {
  display: flex;
  flex-direction: row;
  align-items: center;

}

.form .search-box {
  position: relative;
  display: inline-block;
}

.form .search-box input {
  padding-right: 35px;
  height: 35px;
  font-size: 14px;
  box-sizing: border-box;
}

.magnifier {
  height: 25px;
  width: 25px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}